<!--suppress ALL -->
<html>

<head>

  <title>Registration Form</title>

  <script type="text/javascript">

    <!--

    function validate_form( ) {
      if (document.myform.firstname.value == "") {
        alert("Please fill in the 'firstname' field.");
        return false;
      }
      if (document.myform.lastname.value == "") {
        alert("please fill in  'Last name' field");
        return false;
      }

      if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(document.myform.email.value)) {
        alert("You have entered an invalid email address!")
        return (false)
      }
      function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)) {
          alert("Enter Number");
          return false;
        }
        return true;
      }
    }

    //-->

  </script>

</head>

<body bgcolor="#FFFFFF">
<form  name="myform" action="register"  onsubmit="return validate_form()" method="post">
  <table align="center"  width="100%" cellspacing="2" cellpadding="2" border="5">
    <tr>
      <td colspan="2" align="center"><b>REGISTRATION FORM</b></td>

    </tr>
    <tr>
      <td align="left" valign="top" width="41%">firstname<span style="color:#ff0000">*</span></td>

      <td width="57%"><input type="text" value="" name="firstname" size="24"  required>
    </tr>
    <tr>
      <td align="left" valign="top" width="41%">lastname<span style="color:#ff0000">*</span></td>
      <td width="57%">
        <input type="text" value="" name="lastname"  size="24" required></td>
    </tr>
    <tr>
      <td align="left" valign="top" width="41%">email<span style="color:#ff0000">*</span></td>
      <td width="57%">
        <input type="email" value="" name="email" size="24" required></td>
    </tr>
    <tr>
      <td align="left" valign="top" width="41%">address<span style="color:#ff0000"></span></td>
      <td width="57%">
                <textarea>

                </textarea></td>
    </tr>

    <td colspan="2">
      <p align="center">
        <input type="submit" value="register" name="B4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p></td>
    </tr>

  </table>
</form>
</body>

</html>



